.elementor-8
    .elementor-element.elementor-element-7e465f33
    > .elementor-container {
    min-height: 700px;
}
.elementor-8
    .elementor-element.elementor-element-7e465f33
    > .elementor-container:after {
    content: "";
    min-height: inherit;
}
.elementor-8
    .elementor-element.elementor-element-7e465f33:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-7e465f33
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("https://res.cloudinary.com/ddkhh5kin/image/upload/v1614425056/mrukmarathon-assets/images/banners/img-one_t6y5ru.jpg");
    background-position: top center;
    background-size: cover;
}
.elementor-8
    .elementor-element.elementor-element-7e465f33
    > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.28;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-7e465f33 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 102px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-3210ed8f
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-4c4cc542
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-2063ec91.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-2063ec91.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-2063ec91
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-ea539d6 {
    padding: 60px 0px 0px 0px;
    z-index: 2;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-0add82a.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-0add82a.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-0add82a:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
.elementor-8
    .elementor-element.elementor-element-0add82a
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8
    .elementor-element.elementor-element-0add82a
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 30px 30px 30px 30px;
}
.elementor-8
    .elementor-element.elementor-element-0add82a
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-wrapper {
    max-width: 400px;
}
.elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-item {
    background-color: rgba(2, 1, 1, 0);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
body:not(.rtl)
    .elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-item:not(:first-of-type) {
    margin-left: calc(10px / 2);
}
body:not(.rtl)
    .elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-item:not(:last-of-type) {
    margin-right: calc(10px / 2);
}
body.rtl
    .elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-item:not(:first-of-type) {
    margin-right: calc(10px / 2);
}
body.rtl
    .elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-item:not(:last-of-type) {
    margin-left: calc(10px / 2);
}
.elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-digits {
    font-family: "Raleway", Sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1.4em;
}
.elementor-8
    .elementor-element.elementor-element-7ba0756c
    .elementor-countdown-label {
    font-family: "Roboto", Sans-serif;
    font-size: 0.9em;
    line-height: 1.3em;
}
.elementor-8
    .elementor-element.elementor-element-41c09bd9:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-41c09bd9
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #0659f5;
}
.elementor-8 .elementor-element.elementor-element-41c09bd9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-41c09bd9
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-3e6687f7
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-e1033c1 {
    width: initial;
    max-width: initial;
    top: 135px;
}
body:not(.rtl) .elementor-8 .elementor-element.elementor-element-e1033c1 {
    left: -86px;
}
body.rtl .elementor-8 .elementor-element.elementor-element-e1033c1 {
    right: -86px;
}
.elementor-8 .elementor-element.elementor-element-3b1040e {
    z-index: 2;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-43ec6e28.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-43ec6e28.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-43ec6e28
    > .elementor-element-populated {
    margin: 30px 0px 30px 80px;
}
.elementor-8
    .elementor-element.elementor-element-e793ba0:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-e793ba0
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #0659f5;
}
.elementor-8 .elementor-element.elementor-element-e793ba0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-e793ba0
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-3c83523.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-3c83523.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-3c83523
    > .elementor-element-populated {
    margin: 30px 80px 30px 00px;
}
.elementor-8
    .elementor-element.elementor-element-01b1f12
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-9bf8e4f {
    z-index: 2;
}
.elementor-8
    .elementor-element.elementor-element-c888eca
    > .elementor-container {
    max-width: 700px;
}
.elementor-8
    .elementor-element.elementor-element-c888eca:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-c888eca
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-c888eca {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 90px 0px 30px 0px;
}
.elementor-8
    .elementor-element.elementor-element-c888eca
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-6222d7b5 {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-552c7e5e
    .elementor-text-editor {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-562ade0f:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-562ade0f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-562ade0f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 20px 0px 60px 0px;
}
.elementor-8
    .elementor-element.elementor-element-562ade0f
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-7f7bd48d
    > .elementor-element-populated {
    padding: 15px 15px 15px 15px;
}
.elementor-8 .elementor-element.elementor-element-7e2929f2,
.elementor-8
    .elementor-element.elementor-element-7e2929f2
    > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-7e2929f2 {
    padding: 0em 0em 0em 0em;
}
.elementor-8
    .elementor-element.elementor-element-667dc98e
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-3146abe {
    text-align: center;
    z-index: 0;
    width: initial;
    max-width: initial;
    top: -90px;
}
.elementor-8
    .elementor-element.elementor-element-3146abe
    .elementor-heading-title {
    color: rgba(247, 97, 211, 0.53);
    font-family: "Raleway", Sans-serif;
    font-size: 10em;
    font-weight: bold;
    line-height: 1em;
}
body:not(.rtl) .elementor-8 .elementor-element.elementor-element-3146abe {
    left: 89px;
}
body.rtl .elementor-8 .elementor-element.elementor-element-3146abe {
    right: 89px;
}
.elementor-8
    .elementor-element.elementor-element-621f08fb.elementor-position-right
    .elementor-image-box-img {
    margin-left: 32px;
}
.elementor-8
    .elementor-element.elementor-element-621f08fb.elementor-position-left
    .elementor-image-box-img {
    margin-right: 32px;
}
.elementor-8
    .elementor-element.elementor-element-621f08fb.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 32px;
}
.elementor-8
    .elementor-element.elementor-element-621f08fb
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 30%;
}
.elementor-8
    .elementor-element.elementor-element-621f08fb
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-621f08fb
    .elementor-image-box-title {
    margin-bottom: 10px;
}
.elementor-8
    .elementor-element.elementor-element-621f08fb
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #b2b2b2;
}
.elementor-8 .elementor-element.elementor-element-621f08fb {
    z-index: 1;
}
.elementor-8
    .elementor-element.elementor-element-11b25df4
    > .elementor-element-populated {
    padding: 15px 15px 15px 15px;
}
.elementor-8 .elementor-element.elementor-element-37170f8,
.elementor-8
    .elementor-element.elementor-element-37170f8
    > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-37170f8 {
    padding: 0em 0em 0em 0em;
}
.elementor-8
    .elementor-element.elementor-element-14d7a68f
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-3aab150a.elementor-position-right
    .elementor-image-box-img {
    margin-left: 32px;
}
.elementor-8
    .elementor-element.elementor-element-3aab150a.elementor-position-left
    .elementor-image-box-img {
    margin-right: 32px;
}
.elementor-8
    .elementor-element.elementor-element-3aab150a.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 32px;
}
.elementor-8
    .elementor-element.elementor-element-3aab150a
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 30%;
}
.elementor-8
    .elementor-element.elementor-element-3aab150a
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-3aab150a
    .elementor-image-box-title {
    margin-bottom: 10px;
}
.elementor-8
    .elementor-element.elementor-element-3aab150a
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #b2b2b2;
}
.elementor-8 .elementor-element.elementor-element-3aab150a {
    z-index: 1;
}
.elementor-8 .elementor-element.elementor-element-af40d63 {
    text-align: center;
    z-index: 0;
    width: initial;
    max-width: initial;
    top: -90px;
}
.elementor-8
    .elementor-element.elementor-element-af40d63
    .elementor-heading-title {
    color: rgba(247, 97, 211, 0.53);
    font-family: "Raleway", Sans-serif;
    font-size: 10em;
    font-weight: bold;
    line-height: 1em;
}
body:not(.rtl) .elementor-8 .elementor-element.elementor-element-af40d63 {
    left: 89px;
}
body.rtl .elementor-8 .elementor-element.elementor-element-af40d63 {
    right: 89px;
}
.elementor-8
    .elementor-element.elementor-element-6bd2ac60
    > .elementor-element-populated {
    padding: 15px 15px 15px 15px;
}
.elementor-8 .elementor-element.elementor-element-6161527d,
.elementor-8
    .elementor-element.elementor-element-6161527d
    > .elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-6161527d {
    padding: 0em 0em 0em 0em;
}
.elementor-8
    .elementor-element.elementor-element-526c42fe
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-733338fa.elementor-position-right
    .elementor-image-box-img {
    margin-left: 32px;
}
.elementor-8
    .elementor-element.elementor-element-733338fa.elementor-position-left
    .elementor-image-box-img {
    margin-right: 32px;
}
.elementor-8
    .elementor-element.elementor-element-733338fa.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 32px;
}
.elementor-8
    .elementor-element.elementor-element-733338fa
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 30%;
}
.elementor-8
    .elementor-element.elementor-element-733338fa
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-733338fa
    .elementor-image-box-title {
    margin-bottom: 10px;
}
.elementor-8
    .elementor-element.elementor-element-733338fa
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #b2b2b2;
}
.elementor-8 .elementor-element.elementor-element-733338fa {
    z-index: 1;
}
.elementor-8 .elementor-element.elementor-element-c8d3a7e {
    text-align: center;
    z-index: 0;
    width: initial;
    max-width: initial;
    top: -90px;
}
.elementor-8
    .elementor-element.elementor-element-c8d3a7e
    .elementor-heading-title {
    color: rgba(247, 97, 211, 0.53);
    font-family: "Raleway", Sans-serif;
    font-size: 10em;
    font-weight: bold;
    line-height: 1em;
}
body:not(.rtl) .elementor-8 .elementor-element.elementor-element-c8d3a7e {
    left: 89px;
}
body.rtl .elementor-8 .elementor-element.elementor-element-c8d3a7e {
    right: 89px;
}
.elementor-8
    .elementor-element.elementor-element-5d7dec2a:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-5d7dec2a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("https://res.cloudinary.com/ddkhh5kin/image/upload/v1614429160/mrukmarathon-assets/images/banners/img-six_fvbcdv.jpg");
    background-position: top center;
    background-size: cover;
}
.elementor-8
    .elementor-element.elementor-element-5d7dec2a
    > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-5d7dec2a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}
.elementor-8
    .elementor-element.elementor-element-4accbf59
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-a239f > .elementor-container {
    max-width: 600px;
}
.elementor-8
    .elementor-element.elementor-element-282b92b7
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-da7d152 {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-6d1e2d48
    .elementor-text-editor {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-8ece410
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-b8cc82d
    .elementor-counter-number-wrapper {
    color: #fd5dd3;
    font-family: "Raleway", Sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2em;
}
.elementor-8
    .elementor-element.elementor-element-b8cc82d
    .elementor-counter-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-b833041.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-b833041.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-f6d3368
    .elementor-counter-number-wrapper {
    color: #fd5dd3;
    font-family: "Raleway", Sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2em;
}
.elementor-8
    .elementor-element.elementor-element-f6d3368
    .elementor-counter-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-4945ed7.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-4945ed7.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-6317afc
    .elementor-counter-number-wrapper {
    color: #fd5dd3;
    font-family: "Raleway", Sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2em;
}
.elementor-8
    .elementor-element.elementor-element-6317afc
    .elementor-counter-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.elementor-8 .elementor-element.elementor-element-8041cd4 {
    margin-top: 50px;
    margin-bottom: 0px;
}
.elementor-8
    .elementor-element.elementor-element-9d81f9e
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-583e3f0e:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-583e3f0e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-583e3f0e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 80px 0px 30px 0px;
}
.elementor-8
    .elementor-element.elementor-element-583e3f0e
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-c609f78.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-c609f78.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-c609f78
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-377a978 {
    text-align: right;
}
.elementor-8
    .elementor-element.elementor-element-377a978
    .elementor-heading-title {
    color: #f761d3;
    font-family: "Raleway", Sans-serif;
    font-size: 15em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1em;
}
.elementor-8
    .elementor-element.elementor-element-377a978
    > .elementor-widget-container {
    margin: 0px 0px -100px 0px;
}
.elementor-8
    .elementor-element.elementor-element-ee096fc:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-ee096fc
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-ee096fc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-ee096fc
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-a67266d {
    margin-top: 20px;
    margin-bottom: 0px;
}
.elementor-8 .elementor-element.elementor-element-b4ddbb2 {
    text-align: left;
}
.elementor-8 .elementor-element.elementor-element-b4ddbb2 .elementor-image img {
    width: 200px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
        hue-rotate(0deg);
    border-radius: 40px 40px 40px 40px;
}
.elementor-8
    .elementor-element.elementor-element-b4ddbb2
    .elementor-image:hover
    img {
    opacity: 0.8;
}
.elementor-8 .elementor-element.elementor-element-7b9bc73 {
    margin-top: 20px;
    margin-bottom: 0px;
}
.elementor-8 .elementor-element.elementor-element-92546c0 {
    text-align: left;
}
.elementor-8 .elementor-element.elementor-element-92546c0 .elementor-image img {
    width: 200px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
        hue-rotate(0deg);
    border-radius: 40px 40px 40px 40px;
}
.elementor-8
    .elementor-element.elementor-element-92546c0
    .elementor-image:hover
    img {
    opacity: 0.8;
}
.elementor-8
    .elementor-element.elementor-element-ae48f8f:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-ae48f8f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-ae48f8f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-ae48f8f
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-06767fd {
    margin-top: 20px;
    margin-bottom: 0px;
}
.elementor-8 .elementor-element.elementor-element-e2371bc {
    text-align: left;
}
.elementor-8 .elementor-element.elementor-element-e2371bc .elementor-image img {
    width: 200px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
        hue-rotate(0deg);
    border-radius: 40px 40px 40px 40px;
}
.elementor-8
    .elementor-element.elementor-element-e2371bc
    .elementor-image:hover
    img {
    opacity: 0.8;
}
.elementor-8 .elementor-element.elementor-element-47e6bc8 {
    margin-top: 20px;
    margin-bottom: 0px;
}
.elementor-8 .elementor-element.elementor-element-44428ba {
    text-align: left;
}
.elementor-8 .elementor-element.elementor-element-44428ba .elementor-image img {
    width: 200px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
        hue-rotate(0deg);
    border-radius: 40px 40px 40px 40px;
}
.elementor-8
    .elementor-element.elementor-element-44428ba
    .elementor-image:hover
    img {
    opacity: 0.8;
}
.elementor-8
    .elementor-element.elementor-element-55531f4:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-55531f4
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-55531f4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 80px 0px 40px 0px;
}
.elementor-8
    .elementor-element.elementor-element-55531f4
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-4ba88eda.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-4ba88eda.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-4ba88eda
    > .elementor-element-populated {
    margin: 0px 80px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-32cf966e.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-32cf966e.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-773283c
    .elementor-progress-wrapper
    .elementor-progress-bar {
    background-color: #f761d3;
}
.elementor-8
    .elementor-element.elementor-element-773283c
    .elementor-progress-wrapper {
    background-color: #232323;
    border-radius: 10px;
    overflow: hidden;
}
.elementor-8
    .elementor-element.elementor-element-773283c
    .elementor-progress-bar {
    height: 10px;
    line-height: 10px;
}
.elementor-8 .elementor-element.elementor-element-773283c .elementor-title {
    color: #ffffff;
    font-family: "Raleway", Sans-serif;
    font-size: 0.9em;
    font-weight: 600;
}
.elementor-8
    .elementor-element.elementor-element-adbdbf5
    .elementor-progress-wrapper
    .elementor-progress-bar {
    background-color: #f761d3;
}
.elementor-8
    .elementor-element.elementor-element-adbdbf5
    .elementor-progress-wrapper {
    background-color: #232323;
    border-radius: 10px;
    overflow: hidden;
}
.elementor-8
    .elementor-element.elementor-element-adbdbf5
    .elementor-progress-bar {
    height: 10px;
    line-height: 10px;
}
.elementor-8 .elementor-element.elementor-element-adbdbf5 .elementor-title {
    color: #ffffff;
    font-family: "Raleway", Sans-serif;
    font-size: 0.9em;
    font-weight: 600;
}
.elementor-8
    .elementor-element.elementor-element-24c830c
    .elementor-progress-wrapper
    .elementor-progress-bar {
    background-color: #f761d3;
}
.elementor-8
    .elementor-element.elementor-element-24c830c
    .elementor-progress-wrapper {
    background-color: #232323;
    border-radius: 10px;
    overflow: hidden;
}
.elementor-8
    .elementor-element.elementor-element-24c830c
    .elementor-progress-bar {
    height: 10px;
    line-height: 10px;
}
.elementor-8 .elementor-element.elementor-element-24c830c .elementor-title {
    color: #ffffff;
    font-family: "Raleway", Sans-serif;
    font-size: 0.9em;
    font-weight: 600;
}
.elementor-8
    .elementor-element.elementor-element-6ba5f2e
    .elementor-progress-wrapper
    .elementor-progress-bar {
    background-color: #f761d3;
}
.elementor-8
    .elementor-element.elementor-element-6ba5f2e
    .elementor-progress-wrapper {
    background-color: #232323;
    border-radius: 10px;
    overflow: hidden;
}
.elementor-8
    .elementor-element.elementor-element-6ba5f2e
    .elementor-progress-bar {
    height: 10px;
    line-height: 10px;
}
.elementor-8 .elementor-element.elementor-element-6ba5f2e .elementor-title {
    color: #ffffff;
    font-family: "Raleway", Sans-serif;
    font-size: 0.9em;
    font-weight: 600;
}
.elementor-8
    .elementor-element.elementor-element-7b0ec452
    > .elementor-container {
    max-width: 700px;
}
.elementor-8
    .elementor-element.elementor-element-7b0ec452:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-7b0ec452
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-7b0ec452 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 60px 0px 20px 0px;
    z-index: 1;
}
.elementor-8
    .elementor-element.elementor-element-7b0ec452
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-6b65ad98 {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-3950373
    > .elementor-container {
    max-width: 900px;
}
.elementor-8
    .elementor-element.elementor-element-3950373:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-3950373
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-3950373 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 20px 0px;
}
.elementor-8
    .elementor-element.elementor-element-3950373
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-291d872c.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-291d872c.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-7bd5532 {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-7bd5532 .elementor-image img {
    width: 120px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-7914daa.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-7914daa.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-e21cef3 {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-e21cef3 .elementor-image img {
    width: 120px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-0736af5.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-0736af5.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-0bb7162 {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-0bb7162 .elementor-image img {
    width: 120px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-7930de3.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-7930de3.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-d1d915f {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-d1d915f .elementor-image img {
    width: 120px;
}
.elementor-8
    .elementor-element.elementor-element-4f55465:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-4f55465
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-4f55465 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 20px 0px;
}
.elementor-8
    .elementor-element.elementor-element-4f55465
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-3f6fb37.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-3f6fb37.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-e0123d2 {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-e0123d2 .elementor-image img {
    width: 120px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-efd0e66.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-efd0e66.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-8052d11 {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-8052d11 .elementor-image img {
    width: 120px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-c5abf75.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-c5abf75.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-875ea18 {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-875ea18 .elementor-image img {
    width: 120px;
}
.elementor-bc-flex-widget
    .elementor-8
    .elementor-element.elementor-element-b5f453e.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-8
    .elementor-element.elementor-element-b5f453e.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-8 .elementor-element.elementor-element-5e88a4d {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-5e88a4d .elementor-image img {
    width: 120px;
}
.elementor-8
    .elementor-element.elementor-element-6c77069f
    > .elementor-container {
    max-width: 700px;
}
.elementor-8
    .elementor-element.elementor-element-6c77069f:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-6c77069f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-6c77069f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 80px 0px 20px 0px;
}
.elementor-8
    .elementor-element.elementor-element-6c77069f
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-5cc5271f {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-7808fd32
    .elementor-text-editor {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-3e6fe913:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-3e6fe913
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-3e6fe913 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 20px 0px 50px 0px;
}
.elementor-8
    .elementor-element.elementor-element-3e6fe913
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-668e5ace {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-668e5ace
    .elementor-heading-title {
    color: #a4a4a4;
    text-transform: uppercase;
}
.elementor-8
    .elementor-element.elementor-element-668e5ace
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-21890a96
    .elementor-text-editor {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-24c26320 {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-24c26320
    .elementor-heading-title {
    color: #a4a4a4;
    text-transform: uppercase;
}
.elementor-8
    .elementor-element.elementor-element-24c26320
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-1f0c0a55
    .elementor-text-editor {
    text-align: center;
}
.elementor-8 .elementor-element.elementor-element-7f5008e9 {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-7f5008e9
    .elementor-heading-title {
    color: #a4a4a4;
    text-transform: uppercase;
}
.elementor-8
    .elementor-element.elementor-element-7f5008e9
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-18469563
    .elementor-text-editor {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-9d4e7b6
    > .elementor-container {
    max-width: 600px;
}
.elementor-8
    .elementor-element.elementor-element-9d4e7b6:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-9d4e7b6
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-9d4e7b6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-8
    .elementor-element.elementor-element-9d4e7b6
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8
    .elementor-element.elementor-element-81ca0d8:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
.elementor-8
    .elementor-element.elementor-element-81ca0d8
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #125cf2;
}
.elementor-8
    .elementor-element.elementor-element-81ca0d8
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px -140px 0px;
    padding: 50px 60px 60px 60px;
}
.elementor-8
    .elementor-element.elementor-element-81ca0d8
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-81ca0d8 {
    z-index: 2;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-field-group {
    margin-bottom: 16px;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-form-fields-wrapper {
    margin-bottom: -16px;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-field-group
    .elementor-field,
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-field-subgroup
    label {
    font-family: "Raleway", Sans-serif;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-field-group:not(.elementor-field-type-upload)
    .elementor-field:not(.elementor-select-wrapper) {
    background-color: rgba(255, 255, 255, 0);
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-field-group
    .elementor-select-wrapper
    select {
    background-color: rgba(255, 255, 255, 0);
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-button[type="submit"] {
    color: #ffffff;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-button[type="submit"]
    svg
    * {
    fill: #ffffff;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-button[type="submit"]:hover {
    color: #ffffff;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .elementor-button[type="submit"]:hover
    svg
    * {
    fill: #ffffff;
}
.elementor-8
    .elementor-element.elementor-element-1fd0c00
    .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}
.elementor-8 .elementor-element.elementor-element-1fd0c00 .elementor-button {
    border-radius: 0px 0px 0px 0px;
    padding: 18px 40px 18px 40px;
}
.elementor-8 .elementor-element.elementor-element-1fd0c00 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}
.elementor-8
    .elementor-element.elementor-element-1c917fdc
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-17e9e5b4 iframe {
    height: 400px;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
        hue-rotate(0deg);
}
.elementor-8
    .elementor-element.elementor-element-16c42385
    > .elementor-container {
    max-width: 700px;
}
.elementor-8
    .elementor-element.elementor-element-16c42385:not(.elementor-motion-effects-element-type-background),
.elementor-8
    .elementor-element.elementor-element-16c42385
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-8 .elementor-element.elementor-element-16c42385 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}
.elementor-8
    .elementor-element.elementor-element-16c42385
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-75939e60 {
    text-align: center;
}
.elementor-8
    .elementor-element.elementor-element-883ad8c
    .elementor-text-editor {
    text-align: center;
}
:root {
    --page-title-display: none;
}
@media (min-width: 768px) {
    .elementor-8 .elementor-element.elementor-element-84830c2 {
        width: 30%;
    }
    .elementor-8 .elementor-element.elementor-element-be842b3 {
        width: 70%;
    }
    .elementor-8 .elementor-element.elementor-element-eac5454 {
        width: 30%;
    }
    .elementor-8 .elementor-element.elementor-element-b804c98 {
        width: 70%;
    }
    .elementor-8 .elementor-element.elementor-element-0465570 {
        width: 30%;
    }
    .elementor-8 .elementor-element.elementor-element-0861ddd {
        width: 70%;
    }
    .elementor-8 .elementor-element.elementor-element-d6fbf0c {
        width: 30%;
    }
    .elementor-8 .elementor-element.elementor-element-e87c98f {
        width: 70%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-8 .elementor-element.elementor-element-4c4cc542 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-0add82a {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-3e6687f7 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-43ec6e28 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-3c83523 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-01b1f12 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-7f7bd48d {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-11b25df4 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-6bd2ac60 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-282b92b7 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-8ece410 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-b833041 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-4945ed7 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-9d81f9e {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-488782c5 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-c609f78 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-84830c2 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-be842b3 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-eac5454 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-b804c98 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-0465570 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-0861ddd {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-d6fbf0c {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-e87c98f {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-4ba88eda {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-32cf966e {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-364096df {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-3ec8174 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-1479134 {
        width: 100%;
    }
    .elementor-8 .elementor-element.elementor-element-81ca0d8 {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .elementor-8
        .elementor-element.elementor-element-7e465f33
        > .elementor-container {
        min-height: 100px;
    }
    .elementor-8
        .elementor-element.elementor-element-7e465f33
        > .elementor-container:after {
        content: "";
        min-height: inherit;
    }
    .elementor-8 .elementor-element.elementor-element-7e465f33 {
        padding: 140px 20px 0px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-6fd49628 {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-23dd9e24
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-43ec6e28
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 60px 20px 60px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-1523c4fb {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-71bc8dc9
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-3c83523
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 60px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-1a5c733 {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-438262c
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-c888eca {
        padding: 60px 15px 0px 15px;
    }
    .elementor-8 .elementor-element.elementor-element-562ade0f {
        padding: 60px 30px 30px 30px;
    }
    .elementor-8 .elementor-element.elementor-element-3146abe {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-621f08fb
        .elementor-image-box-wrapper
        .elementor-image-box-img {
        width: 15%;
    }
    .elementor-8
        .elementor-element.elementor-element-11b25df4
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-8
        .elementor-element.elementor-element-3aab150a
        .elementor-image-box-wrapper
        .elementor-image-box-img {
        width: 15%;
    }
    .elementor-8
        .elementor-element.elementor-element-733338fa
        .elementor-image-box-wrapper
        .elementor-image-box-img {
        width: 15%;
    }
    .elementor-8 .elementor-element.elementor-element-5d7dec2a {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 60px 20px 60px 20px;
    }
    .elementor-8 .elementor-element.elementor-element-a239f {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-c2fd4ac {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-8041cd4 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-583e3f0e {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 60px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-99cfcac {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-377a978 {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-377a978
        .elementor-heading-title {
        font-size: 4em;
    }
    .elementor-8
        .elementor-element.elementor-element-377a978
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-ee096fc {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 1px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-a67266d {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-b4ddbb2 {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-be842b3
        > .elementor-element-populated {
        margin: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-8aeba57 {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-8ed3d07
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-7b9bc73 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-92546c0 {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-b804c98
        > .elementor-element-populated {
        margin: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-f88733a {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-f80df57
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-ae48f8f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-06767fd {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-e2371bc {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-0861ddd
        > .elementor-element-populated {
        margin: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-0e5b55c {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-f4a7a7e
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-47e6bc8 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-44428ba {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-e87c98f
        > .elementor-element-populated {
        margin: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-1e87ed6 {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-6aed4b3
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-55531f4 {
        padding: 50px 20px 30px 20px;
    }
    .elementor-8
        .elementor-element.elementor-element-4ba88eda
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-1438571a {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-26af6e68
        .elementor-text-editor {
        text-align: center;
    }
    .elementor-8
        .elementor-element.elementor-element-32cf966e
        > .elementor-element-populated {
        margin: 20px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-7b0ec452 {
        padding: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-6c77069f {
        padding: 50px 0px 0px 0px;
    }
    .elementor-8
        .elementor-element.elementor-element-52731f6d
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-3e6fe913 {
        padding: 0px 15px 60px 15px;
    }
    .elementor-8
        .elementor-element.elementor-element-364096df
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-668e5ace {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-24c26320 {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-7f5008e9 {
        text-align: center;
    }
    .elementor-8 .elementor-element.elementor-element-9d4e7b6 {
        padding: 0px 15px 60px 15px;
    }
    .elementor-8 .elementor-element.elementor-element-16c42385 {
        padding: 60px 0px 60px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-8 .elementor-element.elementor-element-7e2929f2 {
        padding: 30px 30px 30px 30px;
    }
    .elementor-8
        .elementor-element.elementor-element-621f08fb
        .elementor-image-box-img {
        margin-bottom: 32px;
    }
    .elementor-8
        .elementor-element.elementor-element-621f08fb
        .elementor-image-box-wrapper
        .elementor-image-box-img {
        width: 30%;
    }
    .elementor-8 .elementor-element.elementor-element-37170f8 {
        padding: 30px 30px 30px 30px;
    }
    .elementor-8
        .elementor-element.elementor-element-3aab150a
        .elementor-image-box-img {
        margin-bottom: 32px;
    }
    .elementor-8
        .elementor-element.elementor-element-3aab150a
        .elementor-image-box-wrapper
        .elementor-image-box-img {
        width: 30%;
    }
    .elementor-8 .elementor-element.elementor-element-6161527d {
        padding: 30px 30px 30px 30px;
    }
    .elementor-8
        .elementor-element.elementor-element-733338fa
        .elementor-image-box-img {
        margin-bottom: 32px;
    }
    .elementor-8
        .elementor-element.elementor-element-733338fa
        .elementor-image-box-wrapper
        .elementor-image-box-img {
        width: 30%;
    }
    .elementor-8
        .elementor-element.elementor-element-b8cc82d
        .elementor-counter-number-wrapper {
        font-size: 3em;
    }
    .elementor-8
        .elementor-element.elementor-element-b8cc82d
        > .elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-8
        .elementor-element.elementor-element-f6d3368
        .elementor-counter-number-wrapper {
        font-size: 3em;
    }
    .elementor-8
        .elementor-element.elementor-element-f6d3368
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-8
        .elementor-element.elementor-element-6317afc
        .elementor-counter-number-wrapper {
        font-size: 3em;
    }
    .elementor-8
        .elementor-element.elementor-element-6317afc
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-8041cd4 {
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-583e3f0e {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 30px 0px 0px 0px;
    }
    .elementor-8
        .elementor-element.elementor-element-377a978
        .elementor-heading-title {
        font-size: 2em;
    }
    .elementor-8 .elementor-element.elementor-element-ee096fc {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-ae48f8f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-06767fd {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-8 .elementor-element.elementor-element-7b0ec452 {
        padding: 30px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-4f55465 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-8 .elementor-element.elementor-element-6c77069f {
        padding: 30px 0px 0px 0px;
    }
    .elementor-8
        .elementor-element.elementor-element-81ca0d8
        > .elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }
    .elementor-8 .elementor-element.elementor-element-16c42385 {
        padding: 50px 20px 50px 20px;
    }
}
