<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Eventico</title>
	<atom:link href="https://kits.pixel-show.com/eventico/feed/" rel="self" type="application/rss+xml" />
	<link>https://kits.pixel-show.com/eventico</link>
	<description>Event and Conference Elementor Kit</description>
	<lastBuildDate>Mon, 23 Mar 2020 15:39:50 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.3</generator>
	<item>
		<title>Hello world!</title>
		<link>https://kits.pixel-show.com/eventico/hello-world/</link>
					<comments>https://kits.pixel-show.com/eventico/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[Thomas Chase]]></dc:creator>
		<pubDate>Mon, 23 Mar 2020 15:39:50 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://kits.pixel-show.com/eventico/?p=1</guid>

					<description><![CDATA[Welcome to Kits. This is your first post. Edit or delete it, then start writing!]]></description>
										<content:encoded><![CDATA[<p>Welcome to <a href="http://kits.pixel-show.com/">Kits</a>. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://kits.pixel-show.com/eventico/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
